*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.ibb.co/TT5gMMH/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img {
    border-radius: 1rem;

}
.header {
    display: grid;
    grid-template-columns: minmax(25rem, 50rem);
    grid-auto-rows: 30rem;
    place-content: center;
    padding: 2rem;
    padding-bottom: 0;
    margin-top: 2rem;

}
.header .space {
    margin-bottom: 2rem;
}
.header__container-tex {
    display: flex;
    flex-direction: column;
}
.header__text {
    font-size: var(--principal);
}
.header__button {
    border: 0.1rem black solid;
    background-color: rgba(255, 255, 255, 0.614);
    padding: 1.5rem;
    border-radius: 3rem;
    font-size: var(--lg);
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}
.header__container-image {
    display: none;
}
.main__title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.main__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 16rem));
    grid-auto-rows: minmax(13rem, 16rem);
    place-content: center;
    gap: 1rem;
}
.main__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__content img:first-child {
    grid-area: 1/1/3/3;
}
.main__content img:last-child {
    grid-area: 5/1/7/3;
}
.footer {
    margin-bottom: 2rem;
}
.footer__title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 3rem;
}
.footer__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
    grid-auto-rows: minmax(10rem, 16rem);
    place-content: center;
    gap: 1rem;
}
.footer__content img {
    width: 100%;
    object-fit: scale-down;
}
.footer img:last-child {
    grid-area: 3/1/5/3;
}
@media (min-width: 768px) {
    .header__container-image {
        display: block;
    }
    .header {
        grid-template-columns: repeat(2, 35rem);
        grid-auto-rows: 35rem;
    }
    .header__container-tex {
        justify-content: center;
    }
    .header__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3rem;
    }
    .main__content img:last-child {
        grid-area: 3/1/5/5;
    }
    .footer img:last-child {
        display: none;
    }
}
@media (min-width: 1024px) {
    .header {
        grid-template-columns: repeat(auto-fit, minmax(26rem, 45rem));
        grid-auto-rows: minmax(26rem, 45rem);
    }
    .header__container-tex {
        text-align: center;
    }
    .header__title {
        font-size: 5rem;
    }
    .header__text {
        padding: 5rem;
        font-size: 2rem;
        text-align: start;
    }
    .header__button {
        background-color: rgb(253, 213, 34);
    }
    .main__content img:first-child {
        grid-area: initial;
    }
    .main__content img:last-child {
        grid-area: initial;
    }
    .main__content {
        grid-template-columns: repeat(auto-fit, minmax(13rem, 20rem));
        grid-auto-rows: minmax(13rem, 20rem);
    }
    .footer__content {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
        grid-auto-rows: minmax(10rem, 20rem);
    }
    .footer {
        margin-bottom: 5rem;
    }
}