*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.ibb.co/TT5gMMH/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img {
    border-radius: 1rem;
    
}
.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 30rem;
    place-content: center;
    padding: 2rem;
    padding-bottom: 0;
    margin-top: 2rem;
}
.header__container-image {
    display: none;
    
}
.header .space {
    margin-bottom: 2rem;
}
.header__container-tex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__title {
    font: 4rem;
}
.header__text {
    font-size: 2rem;
}
.header__button {
    border: 0.1rem black solid;
    background-color: rgb(253, 213, 34);
    padding: 1.5rem;
    border-radius: 3rem;
    font-size: var(--lg);
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}
.main, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main__title, .footer__title {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 2rem;
    padding: 3rem;
}
.main__content, .footer__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    place-content: center;
    gap: 1rem;
    width: 95%;
}
.main__content img, .footer__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer {
    margin-bottom: 2rem;
}

@media (min-width: 622px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
    }
    .header__container-tex {
        width: 30rem;
        place-self: center;
    }
    .header__container-image {
        display: block;
        display: flex;
        justify-content: center;
    }
    .header__container-image img {
        height: 100%;
        border-radius: 1rem;
    }
    .main__content img:nth-last-child(2), .footer__content img:nth-last-child(2) {
        grid-area: 2/1/4/3;
    }
    .main__content img:nth-last-child(1), .footer__content img:nth-last-child(1) {
        grid-area: 2/3/4/5;
    }
}